/**
Version 0.3
- Used Bootstrap/done
* REPLACED LIST ITEMS WITH WELLS/done
* COMPLETED BUTTON HAS FULL FUNCTIONALITY/done
- Make text disappear after clicking button/done
- Get enter key functionality
* ADDED NICE BACKGROUND/done
* ADDED TRANSITIONS/done
**/

/**
Version 0.4
- Make Text Input Field Bigger/done
- Make Buttons Look Nicer/done
**/

/* VERSION 1.0
SAVE TO-DO LIST ON SERVER
IMPROVE OVERALL LOOK OF THE APP
PRIORITY SETTINGS
*/

/* Background pattern from subtlepatterns.com */
@import url('https://fonts.googleapis.com/css?family=Montserrat|PT+Sans+Narrow|Space+Mono');
@import url('https://fonts.googleapis.com/css?family=Oswald');

body{
  background-image: url("imgs/geometry.png");
}

div.well{
  background-color: #FAEBD7;
  border-radius: 0;
}

h1{

  /*font-family: 'PT Sans Narrow', sans-serif;*/
  font-family: 'Oswald', sans-serif;
  text-align: left;
  font-size: 20rem;
  padding-bottom: 40px;
  transition: transform 3s;
}

h1:hover{
  transform: translateX(10%);
}

#addItem{

  font-family: 'Space Mono', monospace;
  background-color: none;
  /* #5F9F9F*/
  color: #5F9F9F;
  border: 3px solid #5F9F9F;
  border-radius: 0;
}

.removeItem{
  font-family: 'Space Mono', monospace;
  background-color: none;
  color: #59323C;
  border: 1px solid #59323C;
  border-radius: 0;
}

form{
  margin-bottom: 4rem;
}

#inputItem{
  width: 100rem;
  border-radius: 0;
}
